<div class="container p-4">
	<div class="card">
		<div class="card-body">
			<h1>Sobre mi</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			 sed do eiusmod tempor incididunt ut labore et dolore ma
			gna aliqua. Ut enim ad minim veniam, quis nostrud exerci
			tation ullamco laboris nisi ut aliquip ex ea commodo con
			sequat. Duis aute irure dolor in reprehenderit in volupt
			ate velit essecillum dolore eu fugiat nulla pariatur.</p>
		</div>
	</div>
</div>
