<main class="index">
	<div class="masthead d-flex">
		<div class="indexba container">
			<h1 class="display-4">Notes App Nodejs Y MongoDB</h1>
			<p class="lead">Expresss - Bootstrap - Handlebars </p>
			<hr class="my-4">
  
			<p>dependencies, express 4.17.1,  express-handlebars 3.1.0, method-override 3.0.0 , express-session 1.17.0, connect-flash 0.1.1, passport 0.4.1, passport-local 1.0.0, path , mongoose 5.8.2, bcryptjs 2.4.3, dotenv 8.2.0 , cross-env 7.0.0, devDependencies , nodemon 2.0.2, handlebars 4.5.0 ,fontawesome-free, NPM, CSS, JavaScript</p>
			<a href="http://yuliverb.herokuapp.com" class="btn btn-primary btn-lg">Yuliver Andreina</a>
		</div>
	</div>
</main>
