body {
	background: #e6e4e7;
}
.index {
	width: 100vw;
	height: 100vh;
}
.indexba {
	background: rgba(0,0,0,0.7);
	border-radius: 20px;
	width: 700px; 

}
.logo {
	width: 30%;
}
.newnotai h4 {
	font-size: 25px;
}
.masthead {
	color: white;
	min-height: 30rem;
	width: 100%;
	height: 100%;
	padding-top: 5rem;
	padding-bottom: 5rem;
	background: url('/img/fondo.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}