<div class="container p-4">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<div class="card mt-4 text-center">
				<div class="card-header">
					<h3>Ingresar</h3>
				</div>
				<img src="/img/s1.png" class="rounded-circle mx-auto d-block m-4 logo" alt="Logo">
				<div class="card-body">
					<form action="/users/signin" method="POST">
						<div class="form-group">
							<input type="email" class="form-control" name="email" placeholder="Email" autofocus>
						</div>
						<div class="form-group">
							<input type="password" name="password" class="form-control" placeholder="Contraseña">
						</div>
						<div class="form-group">
							<button class="btn btn-primary btn-block" type="submit">
								Entrar
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
